@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f5f7ff;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

.container h1 {
    text-align: center;
    margin: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

.conductorFilter {
	display: flex;
	justify-content: center;
	color: #2563EB;
}

#search {
	display: flex;
	justify-content: center;
}

.searchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.col-3 {
    width: 30%;
    margin-bottom: 20px;
}

.tarjeta-usuario {
	background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.tarjeta-usuario h3 {
	color: #2563EB;
}

.tarjeta-usuario:hover{
	box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 15px;
}

.imagen {
    width: 95%;
    border-radius: 10px;
}

button {
    padding: 15px;
    width: 200px;
    border: none;
    color: white;
    background-color: #2563eb;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #1e5adc;
}

#searchBar { 
    width: 600px;
    padding: 10px; 
    margin-right: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
}

#searchButton { 
    padding: 10px 20px;
    border: none;
    color: white;
    background-color: #2563eb;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
} 

#searchButton:hover { 
    background-color: #1e5adc;
}