@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body { 
    background-color: #F1F7FF;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}


.faq-container {
	border-radius: 12px;
    max-width: 800px;
    max-height: 800px;
    margin: 50px auto;
    padding: 35px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.faq-title {
	color: #2563EB;
    font-size: 2em;
    margin-bottom: 25px;
    text-align: center;
}

.faq-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.faq-item:last-child {
    border-bottom: none;
}

.faq-question {
    font-size: 1.2em;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-answer {
    display: none;
    margin-top: 10px;
    font-size: 1em;
    color: #555;
}

.faq-question.active+.faq-answer {
    display: block;
}