@charset "UTF-8";

/* estilos de la barra de navegacion y sus elementos*/


.navbar {
    background-color: white;
    color: #2C2C2C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    position: sticky;
    width: 100%;
    top: 0;
}

.navbar a{
	text-decoration: none;
	color: inherit;
}

#plus {
    color: #2563eb;
}

.logo p {
    font-size: small;
    letter-spacing: 1px;
}

.logo h1 {
    letter-spacing: 2px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 60px;

}

.nav-links li a {
    color: #787878;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    cursor: pointer;
    color: #2563eb;
}

.navBtns{
    display: flex;
    align-items: center;
    gap: 30px;
}

#loginBtn:hover, 
#registroBtn:hover{
    cursor: pointer;
}

#loginBtn {
    background: none;
    border: none;
    color: #2C2C2C;
    font-size: medium;
}

#loginBtn:hover {
    color: #2563eb;
}

#registroBtn:hover {
    background-color: #1e5adc;
}

#registroBtn {
    padding: 12px;
    width: 130px;
    border: none;
    border-radius: 19px;
    font-weight: 600;
    font-size: medium;
    color: #ffffff;
    background-color: #2563eb;
}

/* Footer */

.footer {
    background-color: #111827;
    color: #fff;
    padding: 50px;
    text-align: left;
    position: static;
    width: 100%;
    bottom: 0;
}

.footer .container {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #fff;
}
.social-icons a{
    text-decoration: none;
    color: #A4A9B1;
}
.footer .column {
    flex: 1;
    margin: 10px;
}

.footer .column h3 {
    margin-bottom: 10px;
}

.footer .column ul {
    list-style: none;
    padding: 0;
}

.footer .column ul li {
    color: #A4A9B1;
    margin: 5px 0;
    
}
.column a{
    text-decoration: none;
}

.column p {
    color: #A4A9B1;
    margin-bottom: 15px;
}

.footer .social-icons img {
    width: 50px;
    margin: 0 5px;
}

.footer .copyright {
    margin-top: 60px;
    color: #A4A9B1;
    text-align: center;
}